.searchBox{
    border-style: solid;
    border-width: 1px;
    border-radius: .5em;
    border-color: black;
    width: 30%;
    margin: auto;
    padding: 1em;
}

.searchClaimForm label {
    float: left;
    width: 150px;
    text-align: right;
}

.searchClaimForm input {
    margin-left: 1em;
    margin-bottom: .5em;
}