.pageHeader {
    min-height: 80px;
    width: 100%;
    padding: 10px;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    border-style: none;
}

.pageHeader img {
    float:none ;
}

.pageHeader div {
    display: block;
}







