.searchBox{
    border-style: solid;
    border-width: 1px;
    border-radius: .5em;
    border-color: black;
    width: 30%;
    margin: auto;
    padding: 1em;
}

label{
    float: left;
    width: 150px;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
}

button{
    margin-left: 7em;
}


